#cajaPadre{
	display: flex;
	flex-direction: column;
	width: 600px;
	height: 600px;
	border: 1px solid #FF0000;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#cajaPadre > div{
	height: 145px;
	margin: 5px;
	background-color: #CCCCCC;
}
#caja-1{
	width: 100px;
}
#caja-2{
	width: 100px;
}
#caja-3{
	width: 100px;
}
#caja-4{

	width: 300px;
}